[submodule "packages/contracts/exchange/lib/ds-test"]
	path = packages/contracts/exchange/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "packages/contracts/exchange/lib/openzeppelin-contracts"]
	path = packages/contracts/exchange/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contracts/initiate/lib/ds-test"]
	path = packages/contracts/initiate/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "packages/contracts/initiate/lib/uniswap-v3-periphery"]
	path = packages/contracts/initiate/lib/uniswap-v3-periphery
	url = https://github.com/Uniswap/uniswap-v3-periphery
[submodule "packages/contracts/initiate/lib/uniswap-v3-core"]
	path = packages/contracts/initiate/lib/uniswap-v3-core
	url = https://github.com/Uniswap/uniswap-v3-core
[submodule "packages/contracts/initiate/lib/forge-std"]
	path = packages/contracts/initiate/lib/forge-std
	url = https://github.com/brockelmore/forge-std
