[submodule "packages/contracts/exchange/lib/ds-test"]
	path = packages/contracts/exchange/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "packages/contracts/exchange/lib/openzeppelin-contracts"]
	path = packages/contracts/exchange/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
